.hidden{
    display: none;
}

body.dark{
 background-color: #333333;
 color: white;
}
header{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid red;

}
h1{
    font-size: 45pt;
}
#setup-game{
    display: flex;
    justify-content: center;

}
button{
    justify-self: center;
}

#setup-game>*{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    align-items: center;

}
p#timer, p#lives, p#hints{
font-size:25px;
font-weight: bold;
text-align: center;
}
#game{
    display: flex;
    justify-content: center;
}

#number-container>p{
border: 1px solid black;
border-radius: 20%;
width: 60px;
height: 60px;
font-size: 40pt;
margin-left: 50px;
margin-top: 5px;
margin-bottom: 5px;
text-align: center;
}

#board{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}

.tile{
    border: 1px solid black;
    width: 60px;
    margin: 0px;
    text-align: center;
    height: 60px;
    vertical-align: middle;
    font-size:40pt;
}

p.selected{
    background-color:lightblue;
}

p.incorrect{
    color:red;
}

.rightBorder{
    border-right:4px solid black;
}

.bottomBorder{
    border-bottom:4px solid black;
}

footer{
    background-color: grey;
    text-align:center;
}

.selected{
    background-color: blue;
}

@media (max-width: 600px) {
    .tile{
        width: 20px;
        height: 20px;
        font-size:15pt;
    }
    #board{
        width: 200px;
        height: 200px;
    }
    .rightBorder{
        border-right:1px solid black;
    }
    
    .bottomBorder{
        border-bottom:1px solid black;
    }

    #number-container{
        margin-top: 15px;
    }

    #number-container>p{
        border: 1px solid black;
        border-radius: 20%;
        width: 20px;
        height: 20px;
        font-size: 15pt;
        margin-left: 50px;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align: center;
        }
        #setup-game{
            display: block;
            justify-content: center;
        
        }

}